
* {
    font-family: 'Cera Pro', sans-serif;
    color: #232323;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    text-decoration: none;
}

nav li {
    list-style-type: none;
}

.button {
    font-weight: 700;
}

.button:hover {
    color: #fff;
}

.font-weight-bolder {
    font-weight: 800 !important;
}

.badge {
    display: initial;
}

//header
a.logo {
    font-weight: 900;
    text-decoration: none;
    color: #232323;
    font-size: 2rem;
}

header nav li a {
    font-weight: 700;
}

#search input {
    border: none;
    outline: none;
}

#header-back {
    height: 144px;
    position: absolute;
    background: #9f83f5;
    width: 100%;
    left: 50%;
    margin-left: -600px;
    border-radius: 0px 0px 0px 50px;
    box-shadow: 0px 0px 6px #00000030;
}

//button colors
.button {
    transition: color .3s, box-shadow .3s, font-weight 0s, font-size 0s;
}

.button:hover {
    box-shadow: 0.12rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4) !important;
}

.button.white {
    color: #6f6f6f;
    background: #fff;
}

.button.white:hover {
    color: #232323;
}

.button.tonight {
    color: #fff;
    background: #4568DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.blue {
    color: #fff;
    background: #36D1DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.green {
    color: #fff;
    background: #159957; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//statuses
.status {
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    background-size: 1rem;
    background-position: left;
    font-weight: 500;
}

.close {
    background-image: url(/images/statuses/close.svg);
}

.success {
    background-image: url(/images/statuses/success.svg);
}

.play {
    background-image: url(/images/statuses/play.svg);
}

.pause {
    background-image: url(/images/statuses/pause.svg);
}

.dot {
    background-image: url(/images/statuses/dot.svg);
}

.blue {
    color: #17a2b8;
}

.orange {
    color: #fd7e14;
}

.red {
    color: #dc3545;
}

.green {
    color: #28a745;
}

//pages
.block-content {
    margin-top: 40px;
}

nav.filter a.active {
    border-bottom: 2px dashed #36D1DC;
    padding-bottom: 3px;
}

.badge.count {
    color: #ffffff;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table.table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.table tr:not(:first-child) {
    border-radius: 5px;
    //background: #6190E8; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table.table th {
    color: #ddd;
    border: none;
}

table.table td {
    border: none;
    padding: 15px 10px;
    font-weight: 700;
    //color: #fff;
}

table.table td:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
}

table.table td:nth-last-child(1) {
    border-radius: 0px 5px 5px 0px;
}

.header-links a:not(:last-child) {
    color: #6c757d;
    font-weight: 700;
}

.client {
    height: 250px;
    background-position: center;
    background-size: 110%;
    display: block;
    color: #fff;
    transition: background-size 1s;
}

.client:hover {
    background-size: 105%;
}

.client-title {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 40px;
    top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.client-description {
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.client-background {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.ql-toolbar.ql-snow {
    border-radius: 50px;
}

.ql-container.ql-snow {
    border: none;
    border-bottom: 1px solid #eee;
}

.fave {
    background-image: url(/images/icons/fave.svg);
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

.fave.delete {
    background-image: url(/images/icons/unfave.svg);
}

//colors
.text-gray {
    color: #696969;
}

.dropdown-menu {
    border-radius: 25px;
    margin-top: 0.5rem !important;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border: none;
}

.dropdown-item:active {
    background-color: #ff000012;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle::after {
    background-image: url(/images/icons/dropdown.svg);
    width: 1rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    border: none;
    margin-left: 1rem;
}

.dropdown-toggle[data-color=white]::after {
    background-image: url(/images/icons/dropdown-white.svg);
}

.user-short {
    font-size: .8rem;
}
