@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic');

* {
    font-family: 'Montserrat', sans-serif;
    color: #232323;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    text-decoration: none;
}

nav li {
    list-style-type: none;
}

.button {
    font-weight: 700;
}

.button:hover {
    color: #fff;
}

//header
a.logo {
    font-weight: 900;
    text-decoration: none;
    color: #232323;
    font-size: 2rem;
}

header nav li a {
    font-weight: 700;
}

#search input {
    border: 1px solid;
    outline: none;
}

//button colors
.button.white {
    color: #232323;
    border: 1px solid;
}

.button.white:hover {
    color: #232323;
}

.button.tonight {
    color: #fff;
    background: #4568DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.blue {
    color: #fff;
    background: #36D1DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//statuses
.status {
    background-repeat: no-repeat;
    padding-left: 30px;
}

.closed {
    background-image: url(/images/statuses/closed.svg);
}

.ready {
    background-image: url(/images/statuses/ready.svg);
    color: #28a745;
}

.working {
    background-image: url(/images/statuses/working.svg);
    color: #dc3545;
}

.paused {
    background-image: url(/images/statuses/paused.svg);
    color: #fd7e14;
}

.new {
    background-image: url(/images/statuses/new.svg);
    color: #17a2b8;
}

//pages

.block-content {
    margin-top: 40px;
}

nav.filter a.active {
    border-bottom: 2px dashed #36D1DC;
    padding-bottom: 3px;
}

.badge.count {
    color: #ffffff;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table.table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.table tr:not(:first-child) {
    border-radius: 5px;
    //background: #6190E8; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table.table th {
    color: #ddd;
    border: none;
}

table.table td {
    border: none;
    padding: 15px 10px;
    font-weight: 700;
    //color: #fff;
}

table.table td:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
}

table.table td:nth-last-child(1) {
    border-radius: 0px 5px 5px 0px;
}

.header-links a:not(:last-child) {
    color: #6c757d;
    font-weight: 700;
}

.client {
    height: 250px;
    background-position: center;
    background-size: 110%;
    display: block;
    color: #fff;
    transition: background-size 1s;
}

.client:hover {
    background-size: 105%;
}

.client-title {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 40px;
    top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.client-description {
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.client-background {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
}
