* {
    font-family: 'Cera Pro', sans-serif;
    color: #232323;
}

html {
    overflow-x: hidden;
    font-size: 14px;
}

div#loading-bar {
    height: 4px;
    background-color: #EB5757;
    position: fixed;
    top: 0;
    width: 0;
    left: 0;
    transition: 0s;
    z-index: 9999;
}

div#loading-bar.loading {
    width: 100%;
    transition: 10s;
}

a {
    text-decoration: none;
    transition: color .3s;
}

a:not([href]) {
    color: #007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

button, .button[disabled] {
    border: none;
    outline: none !important;
    background: #fff;
}

button[disabled], .button[disabled] {
    opacity: .2;
}

nav li {
    list-style-type: none;
}

.button {
    font-weight: 700;
    border: none;
    outline: none;
}

.button:hover {
    color: #fff;
}

.font-weight-bolder {
    font-weight: 800 !important;
}

.badge {
    display: initial;
}

//header
a.logo {
    text-decoration: none;
}

a.logo > img {
    height: 52px;
}

header nav li a {
    font-weight: 700;
}

#search input {
    border: none;
    outline: none;
}

#header-back {
    height: 144px;
    position: absolute;
    background: #9f83f5;
    width: 100%;
    left: 50%;
    margin-left: -600px;
    border-radius: 0 0 0 50px;
    box-shadow: 0 0 6px #00000030;
}

//button colors
.button {
    transition: color .3s, box-shadow .3s, font-weight 0s, font-size 0s;
}

.button:hover {
    box-shadow: 0.12rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4) !important;
}

.button.white {
    color: #6f6f6f;
    background: #fff;
}

.button.white:hover {
    color: #232323;
}

.button.tonight {
    color: #fff;
    background: #4568DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.blue {
    color: #fff;
    background: #36D1DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.green {
    color: #fff;
    background: #159957; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.orange {
    color: #fff;
    background: #F2994A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.red {
    color: #fff;
    background: #EB5757; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button.black {
    color: #fff;
    background: #20002c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//statuses
.status {
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    background-size: 1rem;
    background-position: left;
    font-weight: 500;
}

.closed {
    background-image: url('../images/statuses/close.svg');
}

.success {
    background-image: url('../images/statuses/success.svg');
}

.play {
    background-image: url('../images/statuses/play.svg');
}

.pause {
    background-image: url('../images/statuses/pause.svg');
}

.dot {
    background-image: url('../images/statuses/dot.svg');
}

.closed.white {
    background-image: url('../images/statuses/close-white.svg');
}

.success.white {
    background-image: url('../images/statuses/success-white.svg');
}

.play.white {
    background-image: url('../images/statuses/play-white.svg');
}

.pause.white {
    background-image: url('../images/statuses/pause-white.svg');
}

.dot.white {
    background-image: url('../images/statuses/dot-white.svg');
}

.blue {
    color: #17a2b8;
}

.orange {
    color: #fd7e14;
}

.red {
    color: #dc3545;
}

.green {
    color: #28a745;
}

.black {
    color: #232323;
}

//pages
.block-content {
    margin-top: 40px;
}

a[href='#'] {
    border-bottom: 2px dashed;
    padding-bottom: 3px;
}

a[href='#'].active {
    border-color: #36D1DC;
}

a[href='#'].button {
    border: none;
    padding: 0;
}

.badge.count {
    color: #ffffff;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
    font-size: inherit !important;
}

table.table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.table tr:not(:first-child) {
    border-radius: 5px;
    //background: #6190E8; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table.table th {
    color: #ddd;
    border: none;
}

.back-link {
    word-break: break-word;
}

table.table td {
    border: none;
    padding: 15px 10px;
    font-weight: 700;
    //color: #fff;
}

table.table td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

table.table td:nth-child(1), table.table th:nth-child(1) {
    width: 4rem;
}

table.table td:nth-last-child(1) {
    border-radius: 0 5px 5px 0;
}

.header-links a:not(:last-child) {
    color: #6c757d;
    font-weight: 700;
}

.client {
    height: 250px;
    background-position: center;
    background-size: 110%;
    display: block;
    color: #fff;
    transition: background-size 1s;
}

.client:hover {
    background-size: 105%;
}

.client-title {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 40px;
    top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.client-description {
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.client-background {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.ql-toolbar.ql-snow {
    border-radius: 50px;
}

.ql-container.ql-snow {
    border: none;
    border-bottom: 1px solid #eee;
}

.fave {
    background-image: url('../images/icons/fave.svg');
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

.fave.remove {
    background-image: url('../images/icons/unfave.svg');
}

//colors
.text-gray {
    color: #696969;
}

.dropdown-menu {
    border-radius: 25px;
    margin-top: 0.5rem !important;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border: none;
}

.dropdown-item:active {
    background-color: #ff000012;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle::after {
    background-image: url('../images/icons/dropdown.svg');
    width: 1rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    border: none;
    margin-left: 1rem;
}

.dropdown-toggle[data-color=white]::after {
    background-image: url('../images/icons/dropdown-white.svg');
}

.comment-text p {
    color: #232323;
}

.comment.self .comment-text p {
    color: #fff;
}

.comment-text p:last-child {
    margin-bottom: 0;
}

.comment-text p {
    color: #232323;
}

.comment.self .comment-text p {
    color: #fff;
}

.comment.self .comment-text a {
    color: #232323;
    font-weight: bold;
}

.comment.self .comment-text a[target="_blank"] {
    color: #232323;
    text-decoration: underline;
}

.comment-text p:last-child {
    margin-bottom: 0;
}

.comment-text img, .comment-text iframe {
    max-width: 100%;
    border-radius: 0.3rem;
}

.note-editor {
    border-radius: 0.3rem;
}

.note-statusbar {
    display: none;
}

.user-avatar {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: cover;
}

.button .status {
    color: #fff;
}

.toast {
    border-radius: 25px !important;
    background-size: 1rem;
    background-position: 20px center !important;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}

.toast-info {
    background-color: #2F96B4;
}

.toast-message {
    color: #fff;
}

.observer {
    border-radius: 50%;
    border: 3px solid #fff;
    margin-left: -10px;
}

.observer:first-child {
    margin-left: 0;
}

.router-link-active {
    color: #232323;
}

.modal-footer, .modal-content {
    border: none;
}

.modal-content {
    border-radius: 3rem;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-group > * {
    padding: 10px;
}

.form-group > input:first-child {
    z-index: 1;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    position: absolute;
}

.form-group > input.helper {
    opacity: 0;
}

.form-group > span {
    top: 0;
    transition: .3s;
    left: 0;
    position: absolute;
}

.form-group > input[required] + span > span:first-child::after, span.required::after {
    content: '*';
    color: #dc3545 !important;
    margin-left: .5rem;
}

.form-group > input[required]:valid + span, .form-group > input:focus + span, .form-group > input:not(:placeholder-shown) + span {
    top: -28px;
    font-size: .8rem;
}

.description {
    color: #a7a7a7;
}

.cursor-pointer {
    cursor: pointer;
}

.list-enter-active, .list-leave-active {
    transition: opacity .3s;
}

.list-enter, .list-leave-to {
    opacity: 0;
}

.tooltip-inner {
    border-radius: 25px;
    padding: 1rem;
}

.issue-status-color-choose, .issue-status-icon-choose {
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #fff;
    transition: .3s border-color;
    background-repeat: no-repeat;
    background-position: center;
}

.issue-status-color:checked + .issue-status-color-choose, .issue-status-icon:checked + .issue-status-icon-choose {
    border-color: #007bff;
}

input[type=radio] + label.radio-button::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: .3s;
}

input[type=radio]:checked + label.radio-button::before {
    background: #007bff;
}

.modification {
    background: #007bff;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.select2-container--default .select2-selection {
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    outline: none;
    height: auto;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection .select2-selection__arrow {
    height: 20px;
    position: absolute;
    top: 15px;
    bottom: 10px;
    right: 10px;
    width: 20px;
}

.select2-container--default .select2-selection .select2-selection__arrow b {
    background-image: url(/images/icons/dropdown.svg);
    width: 20px;
    height: 20px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    top: 0;
    left: 0;
}

.select2-container--default.select2-container--open .select2-selection .select2-selection__arrow b {
    background-image: url(/images/icons/dropdown-up.svg);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
}

.select2-dropdown {
    border: none;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.select2-results__option {
    padding: 10px 18px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0;
    border-radius: 25px;
    margin-right: 10px;
}

.hover-grow {
    transition: width .3s;
    min-width: 0%;
}

.hover-grow:hover {
    min-width: 100%;
}

.tooltip-inner * {
    color: #fff;
}

a[target=_blank] {
    padding-left: 30px;
    background-image: url(/images/icons/external-link.svg);
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    text-decoration: underline;
}

.tab-navigation .router-link-active {
    color: #fff;
    background: #159957;
    background: linear-gradient(to right, #155799, #159957);
}

.mw-80 {
    max-width: 80%;
}
